h1
  font-size: 44px
h2
  font-size: 32px
h3
  font-size: 14px
h4
  font-size: 24px
h5
  font-size: 22px
.bold
  font-weight: bold
.text1
  font-size: 14px
.text2
  font-size: 24px
.text3
  font-size: 22px
.bg1
  background-color: #fff
.bg2
  background-color: rgba(244,244,244,0.9)
.bg3
  background-color: #f4f4f4
.bg4
  background-color: #ccc
.bg5
  background-color: #999
.bg6
  background-color: #2593cb 
.bg7
  background-color: #e75f15      
.bg8
  background-color: #ff0000          
.bg9
  background-color: #3399ff      
.bg10
  background-color: #c1371f          
.bg11
  background-color: #f42f63          
.bg12
  background-color: #45d389          
.line1
  border-bottom: 4px solid #333
.line2
  border-bottom: 4px solid #2593cb
.line3
  border-bottom: 1px solid #e5e5e5
.word1
  color #fff
.word2
  color: #2593cb
.word3
  color: #ff0000
.word4
  color: #e75f15
.word5
  color: #999
.word6
  color: #666
.word7
  color: #333 

button[type="button1"]
  width 345px
  height 38px
  background-color: #2593cb
  color: #fff
  border-radius: 2px
  font-size: 14px
  &:active
    background-color: #3399ff
  &[disabled]
    color: #999
    background-color: #ccc
button[type="button2"]
  width 345px
  height 38px
  box-sizing: border-box
  border 1px solid #2593cb
  background-color: #fff
  color: #2593cb
  border-radius: 2px
  font-size: 14px

button[type="button3"]
  width 345px
  height 38px
  box-sizing: border-box
  border 1px solid #ff0000
  background-color: #fff
  color: #ff0000
  border-radius: 2px
  font-size: 14px

button[type="button4"]
  width 345px
  height 38px
  box-sizing: border-box
  border 1px solid #2593cb
  background-color: #fff
  color: #2593cb
  border-radius: 2px
  font-size: 14px

button[type="button4"]
  width 345px
  height 38px
  background-color: #ccc
  color: #333
  border-radius: 2px
  font-size: 14px

button[type="button5"]
  width 345px
  height 38px
  background-color: #ccc
  color: #333
  border-radius: 2px
  font-size: 14px

button[type="button6"]
  width 80px
  height 28px
  background-color: #2593cb
  color: #fff
  font-size: 12px
  &[disabled]
    background-color: #ccc
    color: #666

button[type="button7"]
  width 50px
  height 26px
  box-sizing: border-box
  background-color: #fff
  color: #2593cb
  border 1px solid #2593cb
  font-size: 14px
  &.active
    background-color: #2593cb
    color: #fff

.input-box
  position relative
  height 0.38rem
  background-color #F4F4F4
  margin-bottom 0.15rem
  input
    position absolute
    box-sizing border-box
    top 0
    left 0
    height 100%
    width 100%
    padding-left 0.09rem
    padding-right 0.09rem
    font-size 0.14rem
    background-color #F4F4F4
  .getcode-button
    position absolute
    top 0.05rem
    right 0.05rem
    width auto
    height 0.28rem
    border-radius 0
  .show-password
    position absolute
    top 0
    height 100%
    right 0.15rem
    width 0.25rem
    img
      position absolute
      top 50%
      transform translateY(-50%)
      width 100%