.mint-button
  font-size: 0.14rem
  height 0.35rem
  border-radius 3px
  padding: 0 0.1rem
.mint-button--primary
  background-color: #2594cb;
.mint-button--primary.is-plain
  border: 0.01rem solid #2594cb;
  color: #2594cb;
